.square {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 1px;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.square:hover {
    border: 2px solid grey;
}


.square-red {
    background-color: #FF0000;
}

.square-green {
    background-color: #00FF00;
}

.square-blue {
    background-color: #0000FF;
}
